/* Reset de estilos */
html,
body,
header,
nav,
main,
section,
footer {
	margin: 0;
	padding: 0;
}

/* Estilos gerais */
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f5f5f5;
}

header {
	text-align: center;
	padding: 20px;
	background-color: #304b61;
	color: #fff;
}

h1 {
	font-size: 24px;
	margin-bottom: 10px;
}

nav ul {
	list-style: none;
	background-color: #304b61;
	padding: 10px;
}

nav ul li {
	display: inline;
	white-space: nowrap;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
	transition: all 0.2s;
}

nav ul li a:hover {
	background-color: #203342;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

section ul li a{
	color: black;
}

h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

footer {
	background-color: #203342;;
	color: #fff;
	padding: 10px;
	text-align: center;
}